[buildout]
develop = .
parts = py test
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = zope.apidoc [test]

[py]
recipe = zc.recipe.egg
eggs = zope.apidoc [test]
interpreter = py

[versions]
zope.container = 4.0.0a2
zope.i18n = 4.0.0a3
zope.publisher = 4.0.0a2
zope.renderer = 4.0.0a1
zope.security = 4.0.0a5
zope.tal = 4.0.0a1
zope.traversing = 4.0.0a2
